@import './scss/styles';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	color: #555;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0.5rem;
	color: #222;
}

p {
	margin: 0 0 1rem;
}

a {
	text-decoration: none;
	
	&:hover {
		text-decoration: none;
	}
}

button {
	cursor: pointer;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 1rem;
}

.call-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;

	.end-call {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 60px;
		height: 60px;
		bottom: 6rem;
		left: 50%;
		font-size: 2.5rem;
		padding: 0;
		line-height: 1;
		background-color: #ff3a32;
		color: #fff;
		border: none;
		border-radius: 50%;
		outline: none;
		cursor: pointer;
	}

	.text-chat {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 0;
		left: 0;
		bottom: 2rem;
		padding: 0 2rem;

		&__input {
			background-color: rgba(255, 255, 255, 0.25);
			border: none;
			flex: 1;
			border-radius: 30px;
			resize: none;
			margin-right: 1rem;
			height: 45px;
			outline: none;
			color: #fff;
			padding: 0 1rem;
		}

		&__btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background-color: $main_color;
			color: #fff;
			font-size: 1.4rem;
			border: none;
			outline: none;
		}
	}

	.messages-box{
		position: absolute;
		bottom: 11rem;
		left: 2rem;
		width: 70%;
		max-width: 350px;
		height: 300px;
		// max-height: 300px;
		overflow: auto;
		color: #d6d6d6;
		background-color: rgba(255, 255, 255, .15);
		list-style: none;
		padding: 1rem;
		margin: 0;
		border-radius: 5px;
		z-index: 5;

		li {
			display: flex;
			margin-bottom: 1rem;
		}

		.avatar {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 1rem;
			background: rgba(0, 0, 0, .33);
			color: #fff;
		}

		.sender-data {
			.name {
				color: #fff;
				margin-bottom: 0.2rem;
			}

			.content {
				font-size: .85rem;
				margin-bottom: 0;
			}
		}
	}
}

.local-video-wrapper {
	position: absolute;
	top: 1rem;
	left: 1rem;

	video {
		width: auto;
		height: auto;
		max-width: 180px;
		max-height: 180px;
		background-color: #000;
	}
}

.remote-video-wrapper {
	width: 100%;
	height: 100%;

	video {
		width: 100%;
		height: 100%;
		background-color: #000;
	}
}

.incoming-call {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    height: 100vh;
    background: #000;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	color: #fff;
	z-index: 100;

	&__avatar {
		font-size: 7rem;
		line-height: 1;
		margin-bottom: 1rem;
	}
	
	&__username {
		font-size: 2.6rem;
		color: inherit;
		margin-bottom: 1rem;
	}

	p {
		font-size: 1.4rem;
	}

	&__cta {
		display: flex;
		align-items: center;
		justify-self: center;
		margin-top: 4rem;

		.btn {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1rem;
			margin: 1rem 4rem;
			font-size: 2rem;
			border: none;
			border-radius: 50%;
			outline: none;
			cursor: pointer;
			color: #fff;

			&::after {
				position: absolute;
				bottom: -2rem;
				color: #eee;
				font-size: 1rem;
				opacity: .6;
				pointer-events: none;
			}
		}
		.accept {
			background-color: #4AD963;
			
			&::after {
				content: 'Accept';
			}
		}

		.decline {
			background-color: #ff3a32;

			&::after {
				content: 'Decline';
			}
		}
	}
}